.fit-content {
  height: fit-content;
}

.container-px {
  padding-left: 18%;
  padding-right: 18%;
}

.artists {
  overflow-y: hidden;
}


@media (max-width: 1650px) {
  .about {
    height: auto !important;
  }
  .about .about_body {
    flex-direction: column !important;
  }
  .about .about_body > div:first-child {
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .about .about_body div:first-child {
  }
}

@media (max-width: 576px) {
  .about .about_body {
  }
}