.breadCrumb {
  height: 6rem;
}
.breadCrumb span {
  margin-top: 3%;
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .breadCrumb {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 375px) {
  .breadCrumb span {
    margin-top: 5% !important;
  }
}
