.index .carousel-item > img {
  height: -webkit-fill-available;
}

.index .carousel-control-prev {
  top: 50%;
  left: 10%;
  bottom: unset;
  width: unset;
}

.index .carousel-control-next {
  top: 50%;
  right: 10%;
  bottom: unset;
  width: unset;
}

.play::before {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px !important;
  opacity: 0.5 !important;
}

.play:hover {
  opacity: 1 !important;
}

.artists .carousel-item > img {
  max-height: 100%;
}

.artists .carousel-inner {
  height: 670px;
}
.artists .carousel-caption {
  bottom: 20%;
}
