/* body {
  background: none repeat scroll 0 0 #fff;
  color: #ffffff;
  font-family: 'Open Sans';
  line-height: 26px;
  width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
} */
/* 

*/
.contact {
  border: 1px solid #efefef;
}
.contact .msg-header {
  color: #2095fe;
  background: white;
  border: 0px solid #ccc;
  border-bottom: 1px solid #efefef;
  text-align: center;
  font-size: 20px;
  line-height: 58px;
  white-space: nowrap;
}
.contact .msg-header {
  font-weight: bold;
  color: #423a3a;
}
.contact .msg-header span {
  height: fit-content;
}
.contact .left {
  font-size: 18px;
}
.contact .right {
  font-size: 18px;
}

.contact_right_body {
  height: 670px;
}

.contact .messages-wrapper {
  padding-top: 10px;
  position: relative;
  /* border: 1px solid #ddd; */
  height: 600px;
  border-top: 0 none;
}
.contact .message {
  border-radius: 20px 20px 20px 20px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  width: fit-content;
}
.contact .message.to {
  background-color: #2095fe;
  color: #fff;
  margin-left: auto;
}
.contact .message.from {
  background-color: #eee;
  color: #363636;
  margin-right: 80px;
}
.contact .message.to + .contact .message.to,
.contact .message.from + .contact .message.from {
  margin-top: -7px;
}
.contact .message.from.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.contact .message.from.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #fff;
  border-bottom-right-radius: 10px;
}
.contact .message.to.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #2095fe;
  border-bottom-left-radius: 15px;
}
.contact .message.to.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #fff;
  border-bottom-left-radius: 10px;
}

.contact .contact_left_body_img {
  height: 600px;
}

.contact_ {
  padding-bottom: 3%;
}

@media (min-width: 1680px) {
  .contact_ .contact_body > div:first-child > div:last-child > img{
    height: 610px !important;
  }
}
@media (max-width: 1300px) {
  .contact_ {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 1024px) {
  .contact_ {
    height: auto !important;
    padding-left: 15%;
    padding-right: 15%;
  }

  .contact_ .contact_body {
    flex-direction: column !important;
  }
  .contact_ .contact_body > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5rem;
  }

  .contact_ .contact_left_body_img {
    height: 8%;
  }

  .contact .messages-wrapper {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .contact_ {
    padding-left: 10%;
    padding-right: 10%;
  }
  .contact_ .contact_body > div {
    margin-bottom: 4rem;
  }

}

@media (max-width: 576px) {
  .contact_ {
    padding-left: 0%;
    padding-right: 0%;
  }

  .contact_ .message {
    padding: 10px 14px !important;
  }

  .contact .messages-wrapper {
    height: 85%;
  }
}

@media (max-width: 375px) {
  .contact_ .message {
    padding: 7px 14px !important;
  }

  .contact .messages-wrapper {
    height: 70%;
  }
}
