@import './carousel.css';
@import './about.css';
@import './contact.css';
@import './work.css';
@import './shop.css';
@import './breadCrumb.css';
@import './nav.css';
@import './artist.css';
@import './dropdown.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body,
#__next,
#__next > div {
  height: 100% !important;
}

.border-bottom {
  border-bottom: 1px solid #efefef;
}

.index nav a:hover {
  color: #d69e2e !important;
}