@media (max-width: 768px) {
  .shop {
    padding-left: 10%;
    padding-right: 10%;
  }
  .shop .shop_body {
    font-size: 3.8rem;
  }
}

@media (max-width: 576px) {
  .shop .shop_body {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .shop .shop_body {
    font-size: 2rem;
  }
}
